/* --- Starter Styles --- */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
    padding: 50px;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

/* --- TASK 3: Style your Form and .form-group below --- */
input:invalid {
    border: 2px solid red;
    background-color: #fff0f0;
}

.form-group {
    padding-bottom: 20px;
}

input {
    width: 100%;
    padding: 10px;
}

form {
    max-width: 400px;
    margin: auto;    
}

/* --- TASK 3: Add your :invalid visual validation below --- */



/* --- EXTENSIONS: Add your :focus and Success Message styles below --- */
input:focus {
  border-color: lightblue;
}
#success-message{
    display: none;
}

label::after{
    content: '*';
    color: red;
}

.submit-buttons {
    margin: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

button:hover{
    background-color: lightgreen;
}

button {

    padding: 15px;
    border-radius: 30px;
    box-shadow: 0 5px #2e7d32;
}

button:active {
    box-shadow: 0 2px #2e7d32;
    transform: translateY(3px);
}